<!DOCTYPE html>
<html lang="en">
  
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Dvents</title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="HandheldFriendly" content="true"/>

<link rel="stylesheet" href="{% static 'events/assets/css/master.css' %}"/>
<link rel="icon" type="image/x-icon" href="{% static 'events/favicon.ico' %}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
  <body>
    <!-- Loader-->
    <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
    <!-- Loader end-->
    
    <div data-header="sticky" data-header-top="200" data-canvas="container" class="l-theme animated-css">
  
      
      <!-- ==========================-->
      <!-- MOBILE MENU-->
      <!-- ==========================-->
      <div data-off-canvas="mobile-slidebar left overlay">
        <ul class="nav navbar-nav">
                      <li><a href="{% url 'login' %}" >User</a></li>
                      <li><a href="{% url 'login' %}" >Manager</a></li>
                      <li><a href="{% url 'logout' %}" >Logout</a></li>
                   
                </ul>
      </div>
    
        
        
      <header class="header header-boxed-width header-background-trans header-logo-black header-topbarbox-1-left header-topbarbox-2-right header-navibox-1-left header-navibox-2-right">

        <div class="container container-boxed-width">
          <nav id="nav" class="navbar">
            <div class="container">
              <div class="header-navibox-1">
                <!-- Mobile Trigger Start-->
                <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button"><i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i></button>
                <!-- Mobile Trigger End--><a href="{% url 'home' %}" class="navbar-brand scroll"><img src="{% static 'events/assets/media/general/logo.png' %}" alt="logo" class="normal-logo"/><img src="{% static 'events/assets/media/general/logo-dark.png' %}" alt="logo" class="scroll-logo hidden-xs"/></a>
              </div>
              {% if user.is_authenticated %}
              <div class="header-navibox-2">
                <ul class="yamm main-menu nav navbar-nav">
                  <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">{{request.user}}<b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="{% url 'logout' %}" >Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              {% else %}

              <div class="header-navibox-2">
                <ul class="yamm main-menu nav navbar-nav">
                  <li class="dropdown"><a  data-toggle="dropdown" class="dropdown-toggle">Login <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="{% url 'login' %}" >User</a></li>
                      <li><a href="{% url 'login' %}" >Manager</a></li>
                      
                    </ul>
                  </li>
                </ul>
              </div>
              {% endif %}

            </div>
          </nav>
        </div>
      </header>
      <!-- end .header-->

      <!-- ==========================-->
      <!-- Form of event registrations-->
      <!-- ==========================-->
       <div class="block-table block-table-md">
        
        <div class="block-table__cell col-md-12">
          <section data-stellar-background-ratio="0.4" class="section-form-contact section-form-contact_color_white section-texture bg-primary stellar">
            <div class="ui-decor-1"><img src="{% static 'events/assets/media/general/ui-decor-1_wh.png' %}" alt="decor"></div>
            <h2 class="ui-title-block"><span>Dvents</span> Booking  Form</h2>
            <div class="ui-subtitle-block">Send us a message for your personalized event booking.</div>
            <div id="success"></div>
            <form action=" " method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              

              <div class="row">
                <div class="col-md-12">
                  <h4><label for="eventType">Event Type :</label></h4>
                    <select class="form-control" name="eventType"  id="eventType" required>
                      <option>Select Event Type</option>
                      <option value="Party">Party</option>
                      <option value="Seminar">Seminar </option>
                      <option value="Wedding">Wedding</option>
                    </select>
                  
                    <h4><label for="budget">Budget :</label></h4>
                  <input id="budget" type="text" name="budget" placeholder="hello" required class="form-control"/>
                </div>
                
              </div>
              <div class="row">

               
                <div  class="col-md-6">
                      <h4><label > Event Requirements:</label></h4>
                      <h4>
                      <input id="check-1" name="soundsystem" type="checkbox" value="need_to_work" class="forms__check hidden"/>
                      <label for="check-1" class="forms__label forms__label-check forms__label-check-1"> Sound system</label></h4>
                      <h4>
                      <input id="check-2" type="checkbox" name="catering" value="need_to_work" class="forms__check hidden"/>
                      <label for="check-2" class="forms__label forms__label-check forms__label-check-1">Catering</label>
                      </h4>
                      <h4>
                      <input id="check-3" type="checkbox" name="projector" value="need_to_work" class="forms__check hidden"/>
                      <label for="check-3" class="forms__label forms__label-check forms__label-check-1">Projector</label>
                      </h4>
                      <h4>
                      <input id="check-4" name="decoration" type="checkbox" value="need_to_work"class="forms__check hidden"/>
                      <label for="check-4" class="forms__label forms__label-check forms__label-check-1">Decoration</label></h4>
                      <h4>
                      <input id="check-5" name="photographer" type="checkbox" value="need_to_work" class="forms__check hidden"/>
                      <label for="check-5" class="forms__label forms__label-check forms__label-check-1"> Photographer</label></h4>
                      </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h4><label for="Location">Location :</label></h4>
                  <input id="Location" type="text" name="Location" required class="form-control"/>
                  <h4><label for="City">City :</label></h4>
                  <input id="City" type="text" name="City" required class="form-control"/>
                </div>
                <div class="col-md-6">
                     <h4><label for="date"> Event Date:</label></h4>
                  <input id="date" type="date" name="eventdate" required class="form-control"/>
                     
                    <h4><label for="State">State :</label></h4>
                  <input id="State" type="text" name="State" required class="form-control"/>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h4><label for="user-message">Comments : </label></h4>
                  <textarea id="user-message" rows="3" required name = "Comments" required="required" class="form-control"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                 
                  <button type="submit" class="btn btn-default">Book</button>
                </div>
              </div>
            </form>
            <!-- end .b-form-contact-->
            
          </section>
        </div>
      </div>
               
       
      

      
    

      


      <!-- ==========================-->
      <!-- Footer-->
      <!-- ==========================-->
      <footer class="footer">
        <div class="footer__main">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="text-center"><a href="home.html" class="footer__logo"><img src="{% static 'events/assets/media/general/logo.png' %}" alt="Logo" class="img-responsive"/></a></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="footer-section">
                  <h3 class="footer-section__title ui-title-inner"><i class="ui-decor-2 bg-primary"></i> Address </h3>
                   <div class="footer__contact"><i class="icon icon-map"></i>38-2 Vivamus consequat, <br>&emsp;&emsp; felis at aliquam elementum, <br>&emsp;&emsp; massa sem dignissim , <br>&emsp;&emsp; ante.</div>
                </div>
              </div>
              <div class="col-md-4">
                <section class="footer-section">
                  <h3 class="footer-section__title ui-title-inner"><i class="ui-decor-2 bg-primary"></i> Keep In Touch</h3>
                 
                  <div class="footer__contact"><i class="icon icon-call-in"></i> <a href="tel:+911234567890">(+91) 123 456 7890</div>
                  <div class="footer__contact"><i class="icon icon-envelope-open"></i><a href="mailto:dvents@gmail.com"> info@dvents.org</a></div>
                  <div class="footer__contact"><i class="icon icon-clock"></i> Mon - Fri 9.00 am - 6.00 pm</div>
                </section>
              </div>
              
              <div class="col-md-4  ">
                <section class="footer-section">
                  <h3 class="footer-section__title ui-title-inner"><i class="ui-decor-2 bg-primary"></i>Social Media</h3>
                  <ul class="social-net list-inline pull-left">
                  <li class="social-net__item"><a href="https://www.youtube.com/" target="_blank"class="social-net__link text-primary_h"><i class="icon fa fa-youtube"></i></a></li>
                  <li class="social-net__item"><a href="https://twitter.com/explore" target="_blank"class="social-net__link text-primary_h"><i class="icon fa fa-twitter"></i></a></li>
                  <li class="social-net__item"><a href="https://www.facebook.com/"target="_blank" class="social-net__link text-primary_h"><i class="icon fa fa-facebook"></i></a></li>
                
                  <li class="social-net__item"><a href="https://www.instagram.com/" target="_blank"class="social-net__link text-primary_h"><i class="icon fa fa-instagram"></i></a></li>
                </ul>
                <!-- end social-list-->
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="copyright">© 2020<strong> Dvents</strong> - The Events Specialists All Rights Reserved.</div>
                
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- .footer-->
      
    </div>
    <!-- end layout-theme-->
    
    
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="{% static 'events/assets/libs/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'events/assets/libs/jquery-migrate-1.2.1.js' %}"></script>
    <!-- Bootstrap-->
    <script src="{% static 'events/assets/libs/bootstrap/bootstrap.min.js' %}"></script>
    <!-- User customization-->
    <script src="{% static 'events/assets/js/custom.js' %}"></script>
    <!---->

    <!-- Slider 1-->
    <script src="{% static 'events/assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- Slider 2-->
    <script src="{% static 'events/assets/plugins/bxslider/vendor/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'events/assets/plugins/bxslider/vendor/jquery.fitvids.js' %}"></script>
    <script src="{% static 'events/assets/plugins/bxslider/jquery.bxslider.min.js' %}"></script>
    <!-- Pop-up window-->
    <script src="{% static 'events/assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- Headers scripts-->
    <script src="{% static 'events/assets/plugins/headers/slidebar.js' %}"></script>
    <script src="{% static 'events/assets/plugins/headers/header.js' %}"></script>
    <!-- Mail scripts-->
    <script src="{% static 'events/assets/plugins/jqBootstrapValidation.js' %}"></script>
    <!-- Parallax-->
    <script src="{% static 'events/assets/plugins/stellar/jquery.stellar.min.js' %}"></script>
    <!-- Filter and sorting images-->
    <script src="{% static 'events/assets/plugins/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'events/assets/plugins/isotope/imagesLoaded.js' %}"></script>
    <!-- Progress numbers-->
    <script src="{% static 'events/assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'events/assets/plugins/rendro-easy-pie-chart/waypoints.min.js' %}"></script>
    <!-- Animations-->
    <script src="{% static 'events/assets/plugins/scrollreveal/scrollreveal.min.js' %}"></script>
    <!-- Main slider-->
    <script src="{% static 'events/assets/plugins/slider-pro/jquery.sliderPro.min.js' %}"></script>
  </body>


</html>